body {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(165deg, rgba(255, 255, 255, 1) 0%, rgba(14, 56, 236, 1) 46%, rgba(8, 8, 108, 1) 100%);
  font-family: Lato, sans-serif;
}

.content {
  margin: 2.5vh auto;
  width: 75%;
  height: 95vh;
}

h1 {
  padding-top: 0.25em;
  text-align: center;
  font-weight: 400;
}
.row{
  gap: 1em;
}
.row>*{
    padding-left: 0;
  padding-right: 0;
}

select {
  cursor: pointer;
}

.data-container {
  height: 70vh;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background: #fff;
  border-radius: 1em;
}
